<div class="card col-lg-12" style="width: 33.333%;">
  <img class="card-img-top" src="{{this.image}}" alt="">
  <div class="card-body">
    <h5 class="card-title">{{this.title}}</h5>
    <a class="" href="/movies/{{this._id}}" role="button">SEE MORE</a>
  </div>
</div>